syntax = "proto3";
package {{packageName}};

message {{messageName}} {
{{#fields}}
    {{type}} {{name}} = {{number}};
{{/fields}}
{{#nestedMessages}}
    message {{messageName}} {
    {{#fields}}
        {{type}} {{name}} = {{number}};
    {{/fields}}
    }
{{/nestedMessages}}
}